
body {
  background-color: #FFFFFF;
  color: #000000;
}
/* a:link { color: #FF0000; text-decoration: none;} */
a:link { color: #900000; text-decoration: none;}
a:visited { color: #900000; text-decoration: none;}
a:active {color: #FF3333; text-decoration: none;}
a:hover {background-color: #d8d8d8 ;color: #000000; text-decoration: none;}


.footer { font-size:10pt; }
.header { text-align:center;font-size:10pt; }

.header th { font-size:10pt;text-align:center; }
.header td { font-size:10pt;text-align:center; }

table { 
	padding:0;
	border-spacing:0;
	border-width:0;
	border-style:none;
}
td { padding-right:5px;padding-left:5px;vertical-align:top; }
th { padding-right:5px;padding-left:5px;vertical-align:top; }


.tools table
{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.tools th { font-size:10pt;background-color:#EEEEEE; }
.tools td { font-size:10pt;text-align:center; }

.counts table
{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}

/*
.counts th { font-size:10pt; }
.counts td { font-size:10pt;text-align:right;vertical-align:top; }
*/

.counts th { font-size:small; background-color:#EEEEEE;}
.counts td { font-size:small;text-align:right;
	     border-width: 1px 0px 0px 1px;
	     border-style: solid;
	     border-color: #cccccc;
	     padding-left:2px;padding-right:2px; 
	     padding-top:0px;padding-bottom:0px;}

.counts a:link { color: #000000; text-decoration: none; }
.counts a:visited { color: #000000; text-decoration: none; }
.counts a:active {color: #0000000; text-decoration: none; }
.counts a:hover {color: #888888; text-decoration: none; }


.sample table
{
    text-align: center;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.sample-old table
{
    margin-left: auto; margin-right: auto;
    text-align: center;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.sample th { font-size:small;background-color:#EEEEEE; }
.sample td { font-size:small;text-align:center;
	     border-width: 1px 0px 0px 1px;
	     border-style: solid;
	     border-color: #cccccc;
	     padding-left:2px;padding-right:2px; 
	     padding-top:0px;padding-bottom:0px;}


.query { font-size:small;}
.query table
{
    margin-left: auto; margin-right: auto;
   padding: 0px
   border-spacing:0;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
   font-size:small;
}

.query th { text-align:left;background-color:#EEEEEE; }
.query td { text-align:left;vertical-align:bottom; }


.result { font-size:small;}
.result table
{
   margin-left: auto; margin-right: auto;
   padding: 0px
   border-spacing:0;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
   font-size:small;
}

.result th { text-align:center;background-color:#EEEEEE; }
.result td { vertical-align:top; }


.odd td { text-align:left;vertical-align:top;background-color:#FFEEDD; }
.even td { text-align:left;vertical-align:top;background-color:#DDEEFF; }


.registry table
{
   padding: 0px
   border-spacing:0;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
   font-size:small;
}
.registry th { background-color:#EEEEEE; }
.registry td { vertical-align:top; }


.news 
{ 
    font-size: 11pt;
    float: right; 
    width: 30%;
    border-width: 0px 1px 1px 1px;
    border-style: dotted;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 0px;
/*    padding-left: 20px;
    padding-right: 20px; */
}

/*
.news li{
    margin-left: 0px;
    padding-left: 0px;
}
*/


.news ul{
    padding-right: 10px;
/*    padding-left: 20px; */
}


.news h3 {
    width:100%;
    padding-top:2px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:2px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    text-align:center;
    background-color:#bbaaff;
}