[submodule "OPUS-admin"]
	path = OPUS-admin
	url = ../OPUS-admin
[submodule "OPUS"]
	path = OPUS
	url = ../OPUS
[submodule "OPUS-website"]
	path = OPUS-website
	url = ../OPUS-website
[submodule "tools/moses-scripts"]
	path = tools/moses-scripts
	url = https://github.com/marian-nmt/moses-scripts.git
